.data {
  width: 30rem;
  height: 15rem;
}
.attractions {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  height: 15rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
  /* overflow: hidden; */
}

.img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-radius: 0.3rem;
}

.data {
  width: 30rem;
  height: 15rem;
  text-align: right;
  background-color: aliceblue;
  border-radius: 0.3rem;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
}

.name {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
  text-align: right;
  color: #3498db;
  margin-top: 0.3rem;
}

.address {
  font-size: 1rem;

  margin-bottom: 1rem;
  text-transform: uppercase;
  color: #888;
  justify-content: center;
}

.attraction__row:not(:last-child) {
  margin-bottom: 1rem;
}

.star span {
  display: inline-block;
  margin-right: 2rem;
  font-size: 2rem;
}

.images {
  display: flex;
}

.images img {
  display: block;
  width: 80rem;
  margin: 4rem;
}

.images img.parallel {
  width: 60rem;
  margin: 2rem;
  border: 3rem solid white;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
}

.spinnerContainer {
  display: flex;
  align-items: center;
}

.spinner svg {
  width: 6rem;
  margin-top: 15rem;
  margin-left: 2rem;
  fill: #3498db;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  color: #575454;

  background-color: rgb(62, 196, 213);
  height: 2rem;
  width: 11rem;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  border-color: rgb(255, 255, 255);
}

.buttons {
  width: 30rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
